// compileOnSave: true, compileCompressed: ./styles.min.css

$mainColor: #000;
$compColor: #FFF;
$neutral1: #333332;

* { padding: 0; margin: 0; box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $mainColor;
  }

  &.button {
    text-decoration: none;
    text-align: center;
    padding: 12px 16px;
    background-color: transparent;
    color: $mainColor;
    border: 2px solid $mainColor;
    transition: background-color .15s ease-out, color .15s ease-out;

    &:hover {
      background-color: $mainColor;
      color: $compColor;
    }
  }
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 3.33vh;

  &.welcome {
    display: flex;
    flex-direction: column;
    background: url('../img/bg.png') center no-repeat;
    background-size: 100vw;

    header {
      flex: 0 0 auto;
      padding: 20px;

      h1 {
        text-align: center;
      }
    }

    main {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 50px;

      nav {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-bottom: 20px;

        &:after {
          content: '';
          background: url('../img/bg.png') center;
          background-size: 100vw;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: -40px;
          left: 0;
          z-index: -1;
          filter: blur(24px);
        }

        & > div {
          flex: 1 1 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding: 20px;

          & + div {
            border-left: 1px solid $mainColor;
          }

          h2 {
            text-align: center;
            color: $neutral1;
          }

          img {
            flex: 1 1 auto;
            margin: 12px 0;
          }

          .buttons {
            display: flex;
            flex-direction: row;
            margin: 12px 0;

            .button {
              display: flex;
              flex-direction: row;
              align-items: center;
              min-height: 4.5em;

              & + .button {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  &.wall {
    main {
      height: 100%;
      position: relative;
      background: url('../img/bg.png') center no-repeat;
      background-size: cover;
      padding: 0 3.6vw;
      display: flex;
      flex-direction: row;

      .leftSide {
        flex: 0 0 26vw;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        background-color: transparentize($neutral1, .28);

        .bigSpace {
          flex: 1 0 64.814vh;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
          margin-top: 12.22vh;
        }
      }

      .rightSide {
        display: flex;
        flex: 0 0 64.84vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin-left: 1.80vw;
      }

      #logo {
        height: 28.70vh;
        align-self: center;
      }

      video {
        max-width: 100%;
        background-color: #000;

        &#desktop {
          flex: 0 0 64.814vh;
          max-height: 64.814vh;
          align-self: stretch;
          margin-top: 12.22vh;
        }

        &#webcam {}
      }

      .videoContainer {
        flex: 0 0 26.20vh;
        position: relative;
        overflow: hidden;

        video {
          /* Make video to at least 100% wide and tall */
          min-width: 100%;
          min-height: 100%;

          /* Setting width & height to auto prevents the browser from stretching or squishing the video */
          width: auto;
          height: auto;

          /* Center the video */
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

      #message {
        flex: 0 0 20vh;
        align-self: stretch;
        text-align: center;
        padding-top: 36px;

        p {
          display: inline-block;
          padding: 0.72em 1em;
          font-weight: 300;
          font-size: 1em;
          color: #f0db4f;
          border: 2px solid #f0db4f;

          span {
            font-weight: 800;
            color: #fff;
          }
        }
      }

      #title {
        background-color: $neutral1;
        padding: 36px 28px 6.48vh;

        h1 {
          font-weight: 300;
          font-size: 1em;
          color: #fff;
        }

        h2 {
          font-weight: 500;
          font-size: 1em;
          color: #f0db4f;
        }
      }

      .hide {
        display: none;
      }
    }
  }

}
